* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Utility / Helper Class */

.container {
  max-width: 114rem;
  margin: auto;
}

/* General Code */

body {
  height: 100vh;
  display: flex;
  align-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.content_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
  margin-bottom: 5rem;
  border: 1px solid #000;
  border-radius: 1.3rem;
  overflow: hidden;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;
}

.heading_secondary {
  font-size: 6.4rem;
}

.description {
  font-size: 2.4rem;
  margin-top: 2rem;
}

.content_block_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block_description {
  font-size: 1.8rem;
  margin-top: 2rem;
  padding: 1rem;
}
